/* mobile screen */
@media screen and (max-width: 375px) {
    body {
        margin: 0%;
        padding: 0%;
    }
}

/* desktop screen */
body {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins';
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.navbar {
    margin: 0px 32px 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo img {
    height: 128px;
    width: 128px;
}

.navbar__search {
    border: 1px solid rgb(209, 213, 219);
    border-radius: 16px;
    display: flex;
    height: 56px;
}

.navbar__search input[placeholder] {
    text-align: center;
}

.search__input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 50%;
}

.search__input:nth-child(1) {
    border-right: 1px solid rgb(209, 213, 219);
}

.search__input:nth-child(2) {
    border-right: 1px solid rgb(209, 213, 219);
}

.search__input input[placeholder] {
    text-align: center;
    opacity: 50%;
}

.search__btn {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.search__icon {
    color: #eb5757;
}

.banner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0px 32px 0px 32px;
}

.banner__title {
    font-size: 1.953rem;
    font-weight: 600;
}

.banner__subtitle {
    font-size: 0.8rem;
    font-weight: 400;
}

.card__container {
    position: sticky;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-left: 32px;
    margin-right: 32px;
    z-index: 1;
    /*     filter: blur(2px);
 */
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card:nth-child(n + 4) {
    margin-top: 8px;
}

.card__image {
    border-radius: 16px;
    height: 100%;
    width: 100%;
}

.card__info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.info__host {
    display: flex;
    align-items: center;
    padding: 4px;
    text-transform: uppercase;
    font-size: 0.64rem;
    border: 1px solid #6b7280;
    border-radius: 16px;
    font-weight: 600;
}

.info__description {
    color: #9ca3af;
    font-size: 0.8rem;
    text-transform: capitalize;
}

.rating {
    color: #eb5757;
}

.rating__amount {
    color: grey;
    margin-left: 8px;
    font-weight: 300;
    font-size: 1rem;
}

.form__container {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 55vh;
    background-color: #f9fafb;
}

.form {
    display: flex;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
}

.form__group {
    display: flex;
    width: 100%;
}

.form__group:nth-child(3) {
    justify-content: center;
}

.form__group:nth-child(1) input {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    position: relative;
}

.form__group:nth-child(2) input {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.form__input {
    height: 72px;
    border: rgb(209, 213, 219) solid 1px;
    box-shadow: 4px 14px 11px -2px #e5e7eb;
    font-size: 1rem;
    padding-left: 16px;
    padding-top: 24px;
    font-weight: 300;
    text-transform: capitalize;
    outline: none;
    width: 100%;
}

.form__input:focus {
    border: black solid 1px;
}

.form__btn {
    height: 72px;
    background-color: #eb5757;
    color: white;
    border-radius: 16px;
    border: none;
    box-shadow: 4px 14px 11px -2px #e5e7eb;
    width: 40%;
    justify-self: flex-end;
}

label[for='location'] {
    position: absolute;
    left: 48px;
    top: 48px;
    font-size: 0.64rem;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 50%;
    z-index: 1;
}

label[for='guests'] {
    position: absolute;
    right: 784px;
    top: 48px;
    font-size: 0.64rem;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 50%;
}

.result {
    position: absolute;
    top: 80px;
    left: 0px;
    margin: 32px;
    width: 30%;
}

.result__list {
    list-style: none;
}

.list__item {
    margin-top: 16px;
    font-size: 0.8rem;
    font-weight: 100;
}

.list__item i {
    margin-right: 8px;
}

.guests {
    position: absolute;
    top: 112px;
    left: 448px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.guests > div:nth-child(2) {
    margin-top: 32px;
}

.guests__filter {
    margin-top: 8px;
}

.filter__text {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1rem;
}

.filter__subtext {
    color: #9ca3af;
    font-size: 0.8rem;
}

.filter__btns {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 16px;
}

.filter__btn {
    background-color: transparent;
    border-radius: 8px;
    border: #9ca3af solid 1px;
}
